*{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --negro-intenso:#0E0B16;
    --violeta-fuego:#A239CA;
    --azul-viento:#4717F6;
    --blanco-agua:#D7E1F7;
    --marfil-tierra:#E7DFDD;
    --marfil-agua:#EAEAEA;
}

.header {
    display:flex;
    justify-content: space-between ;
    align-items:center;
    background-color: var(--negro-intenso);
    padding: 0.5em 1rem;
}
#logo {
    width:15rem;
    height:15rem;
}
.header__form {
    display: flex;
    align-items: center;
}
#search-bar {   /* barra de busqueda*/
    width:69rem;
    height:6.9rem;
    margin:0 1.5rem 0 0;
    font-size: 2.5rem;
}
.header__form-input-button {
    background-color: transparent;
    width:9rem;
    border: none;
    cursor: pointer;
    
}
.header-user-trolley {
    display: flex;
    justify-content: space-evenly;
    width:12.5rem;
    
}
.header__user {
    width:5rem;
    filter: invert(96%) sepia(5%) saturate(234%) hue-rotate(325deg) brightness(96%) contrast(89%);
    border: none;
}
.header__user :hover {
    cursor:pointer;
    filter: invert(26%) sepia(71%) saturate(2370%) hue-rotate(268deg) brightness(93%) contrast(87%);
    transition: all 0.3s;
}
.header__user-trolley {
    width:5rem;
    color:var(--marfil-agua);
    background-color: var(--negro-intenso);
    justify-content: space-around;
    border: none;
}
.header-user-trolley :hover {
    cursor:pointer;
    filter: invert(26%) sepia(71%) saturate(2370%) hue-rotate(268deg) brightness(93%) contrast(87%);
    transition: all 0.3s;
}

#header__nav {
    background-color: var(--azul-viento);
}
.nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height:6vh;
    width: 100vw;

}
.nav__ul-li {
    margin: 0 5% ;

    
}
.nav__ul-li-a {
    font-size: 2.5rem;
    color:var(--marfil-tierra);
    position: relative;

    
}
.nav__ul-li-a:hover {
    cursor: pointer;
    color:var(--violeta-fuego);
}
main {
    background-color: var(--blanco-agua);
}

.main {
    background-color:var(--marfil-agua);
    height: 70vh ;
    width: 60vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 2rem;
    
}
#caja {
    display: flex-start;
    margin: auto;
    
    
    
}
.main__h2 {
    display: flex;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin:3.5rem 0rem ;
    flex-direction: row;
}
.main__h2-form {
    background-color: var(--marfil-agua);
}
.main__hs-form-input {
    font-size: 2rem;
    display: flex;
    align-items: center;
    width:35vw;
    height: 7vh;
    position: relative;
    line-height: 2rem;
    margin:0 0 4rem 0;
    border-radius: 1.5rem;
    color: var(--violeta-fuego);
    
}

#main__section-button {
    border-radius:1.5rem;
    width:20rem;
    height: 5rem;
    font-size: 3rem;
    margin:2rem 0;
    background-color: var(--azul-viento);
    color: var(--blanco-agua);
}
#main__section-button:hover {
    cursor: pointer;
    color:var(--violeta-fuego);
}

.footer__brands{
    background-color: var(--marfil-tierra);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#hyperx{
    width:20rem;
    height: 20rem;
}

#gigabyte{
    width: 20rem;
    height: 5rem;
}

#msi{
    width: 10rem;
    height: 15rem;
}

#asus{
    width: 20rem;
    height: 15rem;
}

#seagate{
    width: 20rem;
    height: 6rem;
}

#thermal{
    width: 20rem;
    height: 8rem;
}

#nvidia{
    width: 18rem;
    height: 5rem;
}


.footer__main {
    background-color: var(--azul-viento);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--blanco-agua);
}
.footer__qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    justify-content: space-between;
}
.footer__qr-p {
    font-size: 2rem;
    margin-bottom:1rem;
}
#footer__qr-img {
    width:5rem;
}
.footer__contact {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer__contact-p {
    font-size: 1.5rem;
    text-align: center;
}
.footer__contact-imgs {
    margin:1rem;
    text-align: center;
    font-size: 1.5rem;
}
.footer__about-p {
    text-align: center;
    font-size: 2rem;
    padding:0 4rem;
    margin:3.5rem 0;
    color:var(--blanco-agua);
}
.footer__about-p:hover {
    cursor: pointer;
    color: var(--violeta-fuego);
}

 /*.header .header__nav .main .footer__brands .footer__main .footer__contact .footer__about{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    grid-auto-flow: dense;
} */


/*Tablet - netbook*/

@media screen and (min-width:768px) and (max-width:1150px){
    .header__form{
        width: 50%;
    }
    .header__form-input{
        width:100%;
    }
    .nav__ul-li-a{
        font-size:2rem;
    }
    
    .footer__qr-p{
        font-size:1.5rem;
    }
    .footer__contact-p{
        font-size:1.5rem;
    }
    .footer__contact-imgs img{
        width:4rem;
    }
    .footer__about-p{
        font-size:1.5rem;
    }
}

/*móvil*/

@media screen and (min-width:320px) and (max-width:767px) {
    #logo{
        width:6rem;
    }
    .header__form{
        width:50%;
    }
    .header__form-input{
        width:100%;
        height: 2rem;
        font-size: 1.5rem;
    }
    .header__form-input-button img{
        width:2.5rem;
    }
    .header-user-trolley{
        width: 6rem;
    }
    #usuario {
        width:2.5rem;
    }
    #trolley {
        width:2.5rem;
    }
    .nav__ul-li-a {
        font-size:1.1rem;
        text-align: center;
    }
    #nav__ul {
        width: 100%;
        height: 9rem;
    }

    .footer__qr{
        width:20%;
    }
    .footer__qr-p{
        display: none;
    }
    #footer__qr-img{
        width:4rem;
    }
    .footer__contact-p{
        font-size: 1rem;
    }
    .footer__contact{
        width:70%;
    }
    .footer__contact-imgs img{
        width:2rem;
        margin:0.5rem;
    }
    .footer__about{
        width:30%;
        font-size: 2rem;
    }
    .footer__about-p{
        padding:0;
        margin:1rem 0;
        font-size:1rem;
    }
}


