<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ayuda</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/images/header-assets/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1,100 & display = swap "
        rel=" stylesheet ">
    <link rel="stylesheet" href="css/ayuda.css">
</head>

<body>
    <header>
        <div class="header__container">
            <a href="./index"><img src="images/header-assets/logo.svg" alt="logoTuringTech" id="header__logo"></a>
            <form action="#" method="get" class="header__form">
                <input type="text" name="search-bar" id="search-bar" class="header__search" placeholder="Buscar...">
                <button type="submit" class="header__lupa"><img src="images/header-assets/lupa.svg" alt="lupa"></button>
            </form>
            <div class="header__container-user-car">
                <a href="./login"><img src="images/header-assets/user.svg" alt="usuario" id="header__user"></a>
                <img src="images/header-assets/carrito.svg" alt="carrito" id="header__car">
            </div>
        </div>

        <nav id="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="productos" class="nav__a">Productos</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Mi cuenta</a></li>
                <li class="nav__li"><a href="ayuda" class="nav__a">Ayuda</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Encontrá tu equipo</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="main">
            <h2 class="main__h2">Preguntas frecuentes</h2>
            <hr>
            <div class="main__h2-div">
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Cómo hago un pedido?

                    </span>
                <p class="parrafo"> Para armar un pedido simplemente vas agregando al carrito todos los productos que
                    queres, y al finalizar pones comprar. En el 1er paso te pregunta si necesitas envío, luego la forma
                    de pago, luego accedes como cliente o creas un cliente nuevo según corresponda confirmas el pedido y
                    te asigna un número de pedido y te da los datos de pago según corresponda. </p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Cómo uso el servicio de PosVenta y garantías?

                    </span>
                <p class="parrafo"> Al pie de esta web nos tenes que dejar la consulta con un motivo de los que
                    comiencem con 'PosVenta ...' y el servicio ténico va a estar respondiendo. En caso de preferír venir
                    a la empresa por motivos unicamente de PosVenta, podes hacerlo sacando un turno haciendo click ACÁ .
                </p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Cómo obtengo el juego y/o beneficios de los productos que se
                        promocionan ese beneficio?

                    </span>
                <p class="parrafo">Todos los canjes de los juegos y/o beneficios se hacen de forma posterior a la
                    entrega del producto y es totalmente de forma digital. Los canjes se realiza desde
                    www.compragamer.com/canje con los datos de la factura de compra y el mail registrado en la compra.
                    Se toma como fecha válida, para la vigencia de las promociones, la fecha en que fue creado el pedido
                    vía web por el cliente, y no la fecha de pago ni la fecha de la factura. Considere que si realizó la
                    compra del producto en promoción, en tiempo y forma, y no puede realizar el canje dentro de la
                    fecha, ello se debe a que no se cuenta con stock de códigos. Así mismo, sepa que la disponibilidad
                    de códigos es limitada, y una vez se agota, no será posible realizar el canje.
                </p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Son precios Finales o más IVA?

                    </span>
                <p class="parrafo">Todos los precios son finales IVA incluido.
                </p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Los precios publicados en la web en que moneda están?

                    </span>
                <p class="parrafo">Todos los precios de la web están expresados en pesos argentinos.
                </p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">
                        ¿Que costo tiene un envío?
                    </span>
                <p class="parrafo"> El costo del mismo se abona con el pedido, es decir, el pedido incluye el costo del
                    envío. El valor del envío depende de las dimensiones del paquete y distancia. Podrás saber el costo
                    del envío en tiempo real desde www.compragamer.com ingresando tu código postal en el producto a
                    adquirir o a tu pedido. Y según el pedido desde la misma web se le informa si es bonificado el
                    mismo.
                <p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Hacen envíos al interior?

                    </span>
                <p class="parrafo"> Hacemos envíos a todo el país mediante OCA, que es un servicio Puerta a Puerta
                    (puede llegar a tu domicilio o a la sucursal de OCA más cercana a tu domicilio).
                <p>
                </p>
                <p class="main__h2-div-p">
                    <span class="main__h2-div-p-span">¿Hacen factura A? ¿Cómo la solicito?

                    </span>
                <p class="parrafo"> Efectivamente hacemos factura A, y en el caso de ser un cliente nuevo tiene que
                    ingresar el cliente con número de CUIT y en las observaciones del pedido aclarar que es con factura
                    A.
                </p>
                <p>

                <h4>¿Tienes otra consulta? Turing Tech te ayuda</h4>
                <h3 class="emails"><button type="email" id="email">ayuda@turingtech.com</h3>
            </div>



        </section>
    </main>
    <footer>

        <div class="footer__brands">
            <img src="images/brands-assets/hyperx.png" alt="hyperxLogo" id="hyperx">
            <img src="images/brands-assets/gigabyte.png" alt="gigabyteLogo" id="gigabyte">
            <img src="images/brands-assets/msi.png" alt="msiLogo" id="msi">
            <img src="images/brands-assets/asus.png" alt="asusLogo" id="asus">
            <img src="images/brands-assets/seagate.png" alt="seagateLogo" id="seagate">
            <img src="images/brands-assets/thermal.png" alt="thermalLogo" id="thermal">
            <img src="images/brands-assets/nvidia.png" alt="nvidiaLogo" id="nvidia">
        </div>

        <div class="footer__container">
            <div class="footer__work">
                <p class="footer__work-p">Trabajá con nosotros</p>
                <img src="images/footer-assets/qr.png" alt="qr código" id="footer__work-img">
            </div>

            <div class="footer__contact">
                <p class="footer__contact-p">Nuestras redes sociales</p>
                <div class="footer__contact-imgs">
                    <a href="#"><img src="images/footer-assets/fb.svg" alt="facebook"></a>
                    <a href="#"><img src="images/footer-assets/tw.svg" alt="twitter"></a>
                    <a href="#"><img src="images/footer-assets/ig.svg" alt="instagram"></a>
                    <a href="#"><img src="images/footer-assets/tch.svg" alt="twitch"></a>
                </div>
            </div>

            <div class="footer__about">
                <a href="#">
                    <p class="footer__about-p">¿Quiénes somos?</p>
                </a>
                <a href="#">
                    <p class="footer__about-p">Política de privacidad</p>
                </a>
            </div>

        </div>

    </footer>
</body>

</html>