<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Producto</title>
</head>
<body>

    <header>
        <div class="header__container">
            <a href="./index"><img src="images/header-assets/logo.svg" alt="logoTuringTech" id="header__logo"></a>
            <form action="#" method="get" class="header__form">
                <input type="text" name="search-bar" id="search-bar" class="header__search" placeholder="Buscar...">
                <button type="submit" class="header__lupa"><img src="images/header-assets/lupa.svg" alt="lupa"></button>
            </form>
            <div class="header__container-user-car">
                <a href="./login"><img src="images/header-assets/user.svg" alt="usuario" id="header__user"></a>
                <img src="images/header-assets/carrito.svg" alt="carrito" id="header__car">
            </div>
        </div>

        <nav id="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="productos" class="nav__a">Productos</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Mi cuenta</a></li>
                <li class="nav__li"><a href="ayuda" class="nav__a">Ayuda</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Encontrá tu equipo</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <section class="main__container">

            <article class="main__product-imgs-container">

                <img src="images/producto-assets/ryzen1.png" alt="ryzen7" id="main__product-imgs-watch">

                <p class="main__product-imgs-title">Fotos del producto</p>

                <div class="main__product-imgs">
                    <img src="images/producto-assets/ryzen1.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/producto-assets/ryzen2.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/producto-assets/ryzen3.png" alt="ryzen7" class="main__product-imgs-ryzen">
                    <img src="images/producto-assets/ryzen4.png" alt="ryzen7" class="main__product-imgs-ryzen">
                </div>

            </article>

            <article class="main__product-info-container">

                <div class="main__product-info-head">
                    <h1 class="main__product-head-title">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Coolerh</h1>
                    <p class="main__product-head-subtitle">Procesadores y coolers cpus > Procesadores AMD > AMD</p>
                </div>

                <div class="main__product-info-body">
                    <div class="main__product-price">
                        <p class="main__product-price-title">$ 45.900</p>
                        <p class="main__product-price-subtitle">Precio especial</p>
                    </div>
                    <div class="main__product-fees">
                        <p class="main__product-fees-p">12 cuotas sin interés a:</p>
                        <p class="main__product-fees-title">$ 54.643</p>
                        <p class="main__product-fees-subtitle">Precio de lista</p>
                    </div>
                </div>

                <div class="main__product-info-footer">
                    <div class="main__product-warranty-container">
                        <img src="images/producto-assets/secure.svg" alt="Garantía" id="main__product-warranty-icon">
                        <p class="main__product-warranty-title">Garantía - 36 meses</p>
                    </div>
                    <div class="main__product-stock-container">
                        <img src="images/producto-assets/available.svg" alt="Stock disponible" id="main__product-stock-icon">
                        <p class="main__product-stock-title">Stock disponible</p>
                    </div>
                    <div class="main__product-shipping-container">
                        <img src="images/producto-assets/car.svg" alt="Envío disponible" id="main__product-shipping-icon">
                        <p class="main__product-shipping-title">Envíos a todo el país</p>
                    </div>

                    <div class="main__product-add-container">
                        <button class="main__product-add-button" type="submit">Sumar al carrito</button>
                    </div>

                </div>

            </article>

            <article class="main__product-specs-container">

                <h2 class="main__product-specs-title">ESPECIFICACIONES</h2>
                
                <div class="main__product-specs-characts-container">
                    <h3 class="main__product-specs-characts-title">CARACTERÍSTICAS GENERALES</h3>
                    <p class="main__product-specs-characts-info">Modelo <span class="main__product-specs-characts-span">RYZEN 7 3700X</span></p>
                    <p class="main__product-specs-characts-info">Socket <span class="main__product-specs-characts-span">AM4 Ryzen 3th Gen</span></p>
                    <p class="main__product-specs-characts-info">Núcleos <span class="main__product-specs-characts-span">8</span></p>
                    <p class="main__product-specs-characts-info">Frecuencia <span class="main__product-specs-characts-span">3600.00 mhz</span></p>
                    <p class="main__product-specs-characts-info">Proceso De Fabricación <span class="main__product-specs-characts-span">7 nm</span></p>
                    <p class="main__product-specs-characts-info">Proceso De Fabricación <span class="main__product-specs-characts-span">7 nm</span></p>
                    <p class="main__product-specs-characts-info">Chipset GPU <span class="main__product-specs-characts-span">No posee</span></p>
                    <p class="main__product-specs-characts-info">Hilos <span class="main__product-specs-characts-span">16</span></p>
                    <p class="main__product-specs-characts-info">Frecuencia turbo <span class="main__product-specs-characts-span">4400 mhz</span></p>
                    <p class="main__product-specs-characts-info">Familia <span class="main__product-specs-characts-span">AMD RYZEN 7</span></p>
                </div>

                <div class="main__product-specs-coolers-container">
                    <h3 class="main__product-specs-coolers-title">COOLERS Y DISIPADORES</h3>
                    <p class="main__product-specs-coolers-info">Tdp <span class="main__product-specs-coolers-span">65w</span></p>
                    <p class="main__product-specs-coolers-info">Incluye Cooler Cpu <span class="main__product-specs-coolers-span">Sí</span></p>
                </div>

                <div class="main__product-specs-memory-container">
                    <h3 class="main__product-specs-memory-title">MEMORIA</h3>
                    <p class="main__product-specs-memory-info">L2 <span class="main__product-specs-memory-span">4mb</span></p>
                    <p class="main__product-specs-memory-info">L3 <span class="main__product-specs-memory-span">32mb</span></p>
                </div>
            </article>

        </section>

    </main>

    <footer>

        <div class="footer__brands">
            <img src="images/brands-assets/hyperx.png" alt="hyperxLogo" id="hyperx">
            <img src="images/brands-assets/gigabyte.png" alt="gigabyteLogo" id="gigabyte">
            <img src="images/brands-assets/msi.png" alt="msiLogo" id="msi">
            <img src="images/brands-assets/asus.png" alt="asusLogo" id="asus">
            <img src="images/brands-assets/seagate.png" alt="seagateLogo" id="seagate">
            <img src="images/brands-assets/thermal.png" alt="thermalLogo" id="thermal">
            <img src="images/brands-assets/nvidia.png" alt="nvidiaLogo" id="nvidia">
        </div>

        <div class="footer__container">
            <div class="footer__work">
                <p class="footer__work-p">Trabajá con nosotros</p>
                <img src="images/footer-assets/qr.png" alt="qr código" id="footer__work-img">
            </div>

            <div class="footer__contact">
                <p class="footer__contact-p">Nuestras redes sociales</p>
                <div class="footer__contact-imgs">
                    <a href="#"><img src="images/footer-assets/fb.svg" alt="facebook"></a>
                    <a href="#"><img src="images/footer-assets/tw.svg" alt="twitter"></a>
                    <a href="#"><img src="images/footer-assets/ig.svg" alt="instagram"></a>
                    <a href="#"><img src="images/footer-assets/tch.svg" alt="twitch"></a>
                </div>
            </div>

            <div class="footer__about">
                <a href="#"><p class="footer__about-p">¿Quiénes somos?</p></a>
                <a href="#"><p class="footer__about-p">Política de privacidad</p></a>
            </div>

        </div>

    </footer>
</body>
</html>