<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <meta name="robots" content="index">
    <link rel="icon" href="images/header-assets/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1,100 & display = swap "
        rel=" stylesheet ">
    <link rel="stylesheet" href="css/restablecer.css">

</head>

<body>
    <header>
        <div class="header__container">
            <a href="./index"><img src="images/header-assets/logo.svg" alt="logoTuringTech" id="header__logo"></a>
            <form action="#" method="get" class="header__form">
                <input type="text" name="search-bar" id="search-bar" class="header__search" placeholder="Buscar...">
                <button type="submit" class="header__lupa"><img src="images/header-assets/lupa.svg" alt="lupa"></button>
            </form>
            <div class="header__container-user-car">
                <a href="./login"><img src="images/header-assets/user.svg" alt="usuario" id="header__user"></a>
                <img src="images/header-assets/carrito.svg" alt="carrito" id="header__car">
            </div>
        </div>

        <nav id="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="productos" class="nav__a">Productos</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Mi cuenta</a></li>
                <li class="nav__li"><a href="ayuda" class="nav__a">Ayuda</a></li>
                <li class="nav__li"><a href="#" class="nav__a">Encontrá tu equipo</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <section class="main">
            <h2 class="main__h2">Restablecer contraseña</h2>
            <div id="caja">
                <form action="#" method="POST" class="main__h2-form">
                    <input type="email" name="email-restablecer" id="email" placeholder="Email"
                        class="main__hs-form-input">
                    <input type="codigo" name="codigo-restablecer" id="codigo" placeholder="Codigo"
                        class="main__hs-form-input">
                    <input type="password" name="password-restablecer" id="password" placeholder="Nueva contraseña"
                        class="main__hs-form-input">
                    <input type="password" name="repit-password-restablecer" id="repit-password"
                        placeholder="Repita la nueva contraseña" class="main__hs-form-input">

                </form>
            </div>
            <button type="submit" id="main__section-button">Restablecer</button>

        </section>
    </main>
    <footer>

        <div class="footer__brands">
            <img src="images/brands-assets/hyperx.png" alt="hyperxLogo" id="hyperx">
            <img src="images/brands-assets/gigabyte.png" alt="gigabyteLogo" id="gigabyte">
            <img src="images/brands-assets/msi.png" alt="msiLogo" id="msi">
            <img src="images/brands-assets/asus.png" alt="asusLogo" id="asus">
            <img src="images/brands-assets/seagate.png" alt="seagateLogo" id="seagate">
            <img src="images/brands-assets/thermal.png" alt="thermalLogo" id="thermal">
            <img src="images/brands-assets/nvidia.png" alt="nvidiaLogo" id="nvidia">
        </div>

        <div class="footer__container">
            <div class="footer__work">
                <p class="footer__work-p">Trabajá con nosotros</p>
                <img src="images/footer-assets/qr.png" alt="qr código" id="footer__work-img">
            </div>

            <div class="footer__contact">
                <p class="footer__contact-p">Nuestras redes sociales</p>
                <div class="footer__contact-imgs">
                    <a href="#"><img src="images/footer-assets/fb.svg" alt="facebook"></a>
                    <a href="#"><img src="images/footer-assets/tw.svg" alt="twitter"></a>
                    <a href="#"><img src="images/footer-assets/ig.svg" alt="instagram"></a>
                    <a href="#"><img src="images/footer-assets/tch.svg" alt="twitch"></a>
                </div>
            </div>

            <div class="footer__about">
                <a href="#">
                    <p class="footer__about-p">¿Quiénes somos?</p>
                </a>
                <a href="#">
                    <p class="footer__about-p">Política de privacidad</p>
                </a>
            </div>

        </div>

    </footer>
</body>

</html>