*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-size:10px;
    font-family: 'Roboto', sans-serif;
}

:root{
  --negro-intenso:#0E0B16;
  --negro-intenso-transparente:#0e0b16be;
  --violeta-fuego:#ff70ff;
  --azul-viento:#4717F6;
  --blanco-agua:#D7E1F7;
  --marfil-tierra:#E7DFDD;
  --marfil-oscuro:#727272b2;
  --marfil-agua:#EAEAEA;
  --rojo-fuego:#f6221783;
}

.header__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro-intenso);
    padding:0.5rem 1rem;
}

#header__logo{
    width:16rem;
}

.header__form{
    display: flex;
    align-items: center;
}

.header__search{
    width:575px;
    height:5rem;
    margin:0 1.5rem 0 0;
    font-size: 2.5rem;
}

.header__lupa{
    background-color: transparent;
    width:1.5rem;
    border: none;
    cursor: pointer;
}

.header__lupa:hover{
    filter: invert(62%) sepia(38%) saturate(2978%) hue-rotate(266deg) brightness(107%) contrast(101%);
}

.header__container-user-car{
    display: flex;
    justify-content: space-evenly;
    width:12.5rem;
}

#header__user{
    width:5rem;
}

#header__user:hover{
    cursor:pointer;
    filter: invert(62%) sepia(38%) saturate(2978%) hue-rotate(266deg) brightness(107%) contrast(101%);
}

#header__car{
    width:5rem;
}

#header__car:hover{
    cursor:pointer;
    filter: invert(62%) sepia(38%) saturate(2978%) hue-rotate(266deg) brightness(107%) contrast(101%);
}

#header__nav{
    background-color: var(--azul-viento);
}

.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height:7vh;
}

.nav__li{
    margin: 0 5%;
}

.nav__a{
    font-size: 2.5rem;
    color:var(--marfil-tierra);
}

.nav__a:hover{
    color:var(--violeta-fuego);
}

.footer__brands {
  background-color: var(--marfil-tierra);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__brands img {
  width: 100%;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 1rem;
  min-height: 1rem;
}

#msi {
  width: 50%;
}

@media screen and (min-width: 1300px) {
  #msi {
    width: 7%;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blanco-agua);
}

.contenedor-compras1,
.contenedor-compras2,
.contenedor-compras3 {
  background-color: var(--violeta-fuego);
  width: 500px;
  height: 140px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--negro-intenso);
  border-radius: 5px;
}

.ingreso {
  width: 2rem;
  margin: 2rem;
}
.contenedor-envios {
  background-color: var(--violeta-fuego);
  margin-top: 15px;
  width: 500px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid var(--negro-intenso);
}

#imagen-descuento {
  width: 3rem;
  height: 3rem;
}

.footer__container {
  background-color: var(--azul-viento);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blanco-agua);
}

.promociones {
  background-color: var(--violeta-fuego);
  margin-top: 15px;
  width: 500px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid var(--negro-intenso);
}

.promocion {
  width: 40rem;
  height: 3rem;
}

.promociones button {
  background-color: var(--azul-viento);
  margin-top: 10px;
  border-radius: 5px;
  width: 50px;
  height: 10x;
  border: 1px solid var(--negro-intenso);
}

.contenedor-pagos {
  background-color: var(--violeta-fuego);
  margin-top: 15px;
  width: 500px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid var(--negro-intenso);
}

.boton {
  width: 7rem;
  border-radius: 1rem;
  border: 1px solid var(--negro-intenso);
  background-color: var(--azul-viento);
  margin: 1rem;
}

button p {
  color: #0e0b16;
}
p {
  color: var(--negro-intenso);
}

.envio {
  background-color: #a239ca;
  margin-top: 15px;
  width: 500px;
  height: 140px;
}
.footer__work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  justify-content: space-between;
}

.footer__work-p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#footer__work-img {
  width: 5rem;
}

.footer__contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__contact-p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__contact-imgs img {
  margin: 1rem;
}

.footer__contact-imgs img:hover {
  filter: invert(62%) sepia(38%) saturate(2978%) hue-rotate(266deg) brightness(107%) contrast(101%);
}

.footer__about-p {
  font-size: 2rem;
  padding: 0 4rem;
  margin: 3.5rem 0;
  color: var(--blanco-agua);
}

.footer__about-p:hover {
  color: var(--violeta-fuego);
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
  .header__form {
    width: 50%;
  }
  .header__search {
    width: 100%;
  }

  .nav__a {
    font-size: 2rem;
  }
  .footer__work-p {
    font-size: 1.5rem;
  }
  .footer__contact-p {
    font-size: 1.5rem;
  }
  .footer__contact-imgs img {
    width: 4rem;
  }
  .footer__about-p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #header__logo {
    width: 6rem;
  }
  .header__form {
    width: 50%;
  }
  .header__search {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
  }
  .header__lupa img {
    width: 2.5rem;
  }
  .header__container-user-car {
    width: 6rem;
  }
  #header__user {
    width: 2.5rem;
  }
  #header__car {
    width: 2.5rem;
  }
  .nav__a {
    font-size: 1.1rem;
    text-align: center;
  }
  .footer__work {
    width: 20%;
  }
  .footer__work-p {
    display: none;
  }
  #footer__work-img {
    width: 4rem;
  }
  .footer__contact-p {
    font-size: 1rem;
  }
  .footer__contact {
    width: 70%;
  }
  .footer__contact-imgs img {
    width: 2rem;
    margin: 0.5rem;
  }
  .footer__about {
    width: 30%;
    font-size: 2rem;
  }
  .footer__about-p {
    padding: 0;
    margin: 1rem 0;
    font-size: 1rem;
  }
}
