.ingreso {
  width: 2rem;
  margin: 2rem;
}
.contenedor-envios {
  background-color: var(--violeta-fuego);
  margin-top: 15px;
  width: 500px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid var(--negro-intenso);
}

#imagen-descuento {
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
}
@media screen and (min-width: 320px) and (max-width: 767px) {
}
/*productEdit*/

.main__container_productEdit {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  align-content: flex-end;
}

.encabezado h1 {
  font-size: 3rem;
  text-align: right;
  color: white;
}

.orden {
  margin-left: 1000px;
}
.desplegable1 {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.desplegable2 {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.name_product {
  text-align: center;
  width: 1000px;
  height: 300px;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

p {
  color: white;
  font-size: 15px;
}
