

.main {
    background-color:var(--marfil-agua);
    height: 70vh ;
    width: 60vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 2rem;
    
}
#caja {
    display: flex-start;
    margin: auto;
    
    
    
}
.main__h2 {
    display: flex;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin:3.5rem 0rem ;
    flex-direction: row;
}
.main__h2-form {
    background-color: var(--marfil-agua);
}
.main__hs-form-input {
    font-size: 2rem;
    display: flex;
    align-items: center;
    width:35vw;
    height: 7vh;
    position: relative;
    line-height: 2rem;
    margin:0 0 4rem 0;
    border-radius: 1.5rem;
    color: var(--violeta-fuego);
    
}

#main__section-button {
    border-radius:1.5rem;
    width:20rem;
    height: 5rem;
    font-size: 3rem;
    margin:2rem 0;
    background-color: var(--azul-viento);
    color: var(--blanco-agua);
}
#main__section-button:hover {
    cursor: pointer;
    color:var(--violeta-fuego);
}









/*móvil*/

